*, *::before, *::after {
  box-sizing: border-box;
}

html, body {
  overflow-x: hidden;
}

body {
  min-width: 320px;
  min-height: 100vh;
  margin: 0;
  padding: 0;

  font-family: $font;
  font-size: 18px;
  font-weight: 300;
  color: $color-text;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  color: $color-text;
  text-decoration: none;
  transition: 0.3s color linear;
}

a:hover,
a:focus {
  color: $color-accent;
}

*:focus {
  outline-color: $color-accent;
}