.about-us {}

.about-us__main-img-wrap,
.about-us__img-wrap {
  width: 100%;
  margin-bottom: 40px;
}

.about-us__main-img,
.about-us__img {
  width: 100%;
  height: 0;
  padding-top: 100%;
  background-size: cover;
  background-position: center;
}

.about-us__content {
  margin-bottom: 20px;
}

.about-us__item {
  margin-bottom: 40px;
}

@media (min-width: $tablet) {
  .about-us__img-wrap {
    margin: 0;
  }

  .about-us__main-img,
  .about-us__img {
    padding-top: 60%;
  }

  .about-us__content {
    margin: 0;
    margin-left: 40px;
  }

  .about-us__img-wrap {
    margin-top: -60px;
  }
}

@media (min-width: $desktop_s) {
  .about-us__block {
    display: flex;
    flex-wrap: wrap;
  }

  .about-us__main-img-wrap {
    width: 100%;
  }

  .about-us__item {
    display: flex;
    flex-direction: column;
    width: calc(50% - 15px);
    margin: 0;
  }

  .about-us__main-img-wrap {
    padding-left: 100px;
  }

  .about-us__content {
    margin: 0;
  }

  .about-us__item--left {
    margin-right: 30px;

    .about-us__img-wrap {
      order: 1;
      width: calc(100% - 100px);
      margin-bottom: -300px;
    }

    .about-us__img {
      padding-top: 120%;
    }

    .about-us__content {
      order: 2;
      margin-left: 100px;
      padding-right: 0;
    }
  }

  .about-us__img-wrap {
    margin: 0;
  }

  .about-us__main-img {
    padding: 0;
    height: 460px;
  }

  .about-us__item--right {
    margin-top: -130px;

    .about-us__img-wrap {
      padding: 0 40px;
    }
  }
}

