.map__btn-wrap {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 30px;
}

.map__wrap {
  margin-bottom: 30px;
  display: none;
}

.map__map {
  height: 300px;
}

@media (min-width: $tablet) {
  .map__map {
    height: 600px;
  }
}
