.submenu {
  display: none;
  padding-top: 20px;
}

.submenu__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  @include list-reset;
  margin-bottom: -20px;
  margin-right: -10px;
}

.submenu__item {
  margin-right: 10px;
  margin-bottom: 20px;
}

.submenu__link {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 220px;
  font-size: 15px;
  text-transform: uppercase;
  color: $color-text-white;
  text-decoration: none;
  transition: 0.3s color ease;
}

.submenu__img-wrap {
  margin-bottom: 10px;
}

.submenu__img {
  width: 100%;
  height: 113px;
  object-fit: cover;
  object-position: center;
}

.submenu__link:hover,
.submenu__link:focus {
  color: $color-accent;
}

@media (min-width: $desktop_s) {
  .submenu {
    position: absolute;
    top: 100%;
    left: 50%;
    z-index: 3;
    transform: translateX(-50%);
    width: 100%;
    max-width: $max-width;
    max-width: 1200px;
    padding: 20px 30px;
    background-color: #ffffff;
  }

  .submenu__list {
    margin-bottom: 0;
  }

  .submenu__item {
    margin-bottom: 0;
  }

  .submenu__link {
    color: $color-text;
  }
}