.title {
  margin: 0;
  margin-bottom: 40px;
  font-size: calcResponsiveSize(30, 40, 320, 1200);
  font-weight: 400;
  text-align: center;
}

.title--m0 {
  margin: 0;
}

@media (min-width: $desktop_s) {
  .title {
    margin-bottom: 60px;
    font-size: 40px;
  }

  .title--m0 {
    margin: 0;
  }
}
