.white-text-block {
  position: relative;
  background-color: #ffffff;

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 0;
    margin-bottom: 10px;
    line-height: 1.4;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
  }

  p {
    margin: 0;
    margin-bottom: 10px;
    line-height: 1.4;
  }

  img {
    width: 100%;
    margin: 0;
    margin-bottom: 10px;
    object-fit: cover;
    object-position: center center;
  }
}

@media (min-width: $tablet) {
  .white-text-block {
    padding: 30px 40px;
  }
}
