.scroll-down-btn {
  width: 50px;
  height: 40px;
  background: transparent;
  border: none;
  outline: none;
  
  cursor: pointer;
}

.scroll-down-btn__arrow {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  fill: #ffffff;

  transition: fill 0.4s linear;
}

.scroll-down-btn__arrow--top {
  top: 0;
  opacity: 0.35;
}

.scroll-down-btn__arrow--bottom {
  bottom: 0;
  opacity: 1;
}

.scroll-down-btn:hover .scroll-down-btn__arrow,
.scroll-down-btn:focus .scroll-down-btn__arrow {
  fill: #ffffff;
}
